anyascii==0.3.2
asgiref==3.8.1
babel==2.16.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
defusedxml==0.7.1
Django==4.2.16
django-appconf==1.0.6
django-auth-ldap==5.1.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.3
django-imagekit==5.0.0
django-modelcluster==6.4
django-money==3.5.3
django-permissionedforms==0.1
django-prices==2.3.0
django-stubs-ext==5.1.2
django-taggit==6.1.0
django-tasks==0.6.1
django-treebeard==4.7.1
djangorestframework==3.15.2
dnspython==2.7.0
draftjs-exporter==5.0.0
enmerkar==0.7.1
et_xmlfile==2.0.0
filetype==1.2.0
idna==3.10
laces==0.1.2
openpyxl==3.1.5
pilkit==3.0
pillow==11.0.0
pillow_heif==0.21.0
pip==24.0
prices==1.1.1
py-moneyed==3.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-ldap==3.4.4
requests==2.32.3
setuptools==75.6.0
soupsieve==2.6
sqlparse==0.5.1
telepath==0.3.1
typing_extensions==4.12.2
urllib3==2.2.3
validate-email-address==1
wagtail==6.4
Willow==1.9.0
