{% extends "base.html" %}

{% block title %}
    Acceso Denegado - SimplexRentalis
{% endblock %}

{% block content %}
    <div class="hero text-center">
        <div>
            <h1>Acceso Denegado</h1>
            <p>No tienes permiso para acceder a esta página.</p>
            <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Volver al Inicio</a>
        </div>
    </div>

    <footer class="text-center mt-5">
        <p>&copy; 2024 Alquiler de Hogares. Todos los derechos reservados.</p>
    </footer>
{% endblock %}
