{% extends 'base.html' %}
{% load static %}
{% block title %}
Editar Propiedad
{% endblock %}

{% block content %}
<div id="main-content" style="max-width: 1200px; margin: auto; font-family: Arial, sans-serif; padding: 20px;">
    <h1 class="propiedad-title" style="text-align: center; margin-bottom: 20px; font-size: 2.5em; color: #333;">Editar Propiedad</h1>

    <form method="post" action="{% url 'editar_propiedad' propiedad.pk %}">
        {% csrf_token %}
        <div class="detalle-container" style="display: flex; flex-wrap: wrap; gap: 20px; margin-bottom: 40px;">
            <!-- Imagen principal y miniaturas -->
            <div class="propiedad-image" style="flex: 3; position: relative;">
                <div class="image-navigation" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); z-index: 10;">
                    <span class="arrow left-arrow" onclick="changeImageByArrow('prev')" style="cursor: pointer;">
                        <img src="{% static 'defaults/flecha-izquierda.png' %}" alt="Flecha Izquierda" style="width: 50px; opacity: 0.7; filter: drop-shadow(2px 2px 4px #444);">
                    </span>
                </div>

                {% if imagen_portada %}
                    <img src="{{ imagen_portada.imagen.url }}" alt="Imagen de Portada" class="img-fluid main-image" id="main-image" 
                         style="width: 100%; height: 400px; object-fit: cover; border-radius: 10px;">
                {% else %}
                    <div class="no-imagen" style="text-align: center; font-size: 18px; color: gray; border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
                        No hay imagen de portada disponible.
                    </div>
                {% endif %}

                <div class="thumbnails-container" style="display: flex; gap: 10px; margin-top: 10px; overflow-x: auto;">
                    {% for imagen in imagenes %}
                        <img src="{{ imagen.imagen.url }}" alt="{{ imagen.descripcion }}" class="thumbnail-image" 
                             style="width: 100px; height: 60px; object-fit: cover; border-radius: 5px; cursor: pointer; border: 2px solid transparent;" 
                             onclick="changeImage('{{ imagen.imagen.url }}', this)">
                    {% endfor %}
                </div>

                <div class="image-navigation" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); z-index: 10;">
                    <span class="arrow right-arrow" onclick="changeImageByArrow('next')" style="cursor: pointer;">
                        <img src="{% static 'defaults/flecha-derecha.png' %}" alt="Flecha Derecha" style="width: 50px; opacity: 0.7; filter: drop-shadow(2px 2px 4px #444);">
                    </span>
                </div>
            </div>

            <!-- Información de la propiedad -->
            <div class="propiedad-summary" style="flex: 2; background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="{{ propiedad.nombre }}" class="form-control" required>
                </div>
                <div>
                    <label for="precio_noche">Precio por noche:</label>
                    <input type="number" id="precio_noche" name="precio_noche" value="{{ propiedad.precio_noche }}" class="form-control" required>
                </div>
                <p><strong>Calificación:</strong> 
                    <span style="color: #f0ad4e; font-size: 1.5em;">⭐{{ propiedad.calificacion }}</span>
                </p>
                <div>
                    <label for="id_direccion">Dirección</label>
                    <input type="text" name="direccion" class="form-control form-control-lg" id="direccion-autocomplete" required placeholder="Escribe tu dirección">
                    <ul id="autocomplete-results" class="list-group mt-2" style="max-height: 200px; overflow-y: auto; display: none;">
                        <!-- Las sugerencias de autocompletado aparecerán aquí -->
                    </ul>
                    <p class="mt-2 text-muted" style="font-size: 0.9em;">
                        <strong>Nota:</strong> Elige una dirección de la lista para validar automáticamente.
                    </p>
                </div>
                <!-- Campos ocultos para almacenar coordenadas -->
                <input type="hidden" name="latitud" id="latitud" value="">
                <input type="hidden" name="longitud" id="longitud" value="">
                <input type="hidden" name="codigo_postal" id="codigo_postal" value="">
                <div>
                    <label for="capacidad_maxima">Capacidad máxima:</label>
                    <input type="number" id="capacidad_maxima" name="capacidad_maxima" value="{{ propiedad.capacidad_maxima }}" class="form-control" required>
                </div>
                <div>
                    <label for="cantidad_banos">Baños:</label>
                    <input type="number" id="cantidad_banos" name="cantidad_banos" value="{{ propiedad.cantidad_banos }}" class="form-control" required>
                </div>
                <div>
                    <label for="cantidad_dormitorios">Dormitorios:</label>
                    <input type="number" id="cantidad_dormitorios" name="cantidad_dormitorios" value="{{ propiedad.cantidad_dormitorios }}" class="form-control" required>
                </div>
                <div>
                    <label for="permite_mascotas">Permite mascotas:</label>
                    <select id="permite_mascotas" name="permite_mascotas" class="form-control" required>
                        <option value="True" {% if propiedad.permite_mascotas %}selected{% endif %}>Sí</option>
                        <option value="False" {% if not propiedad.permite_mascotas %}selected{% endif %}>No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="descripcion-container" id="descripcion" style="margin-bottom: 40px;">
            <h3>Descripción</h3>
            <textarea name="descripcion" class="form-control" rows="5" required>{{ propiedad.descripcion }}</textarea>
        </div>

        <div class="text-center" style="margin-bottom: 40px;">
            <button type="submit" class="btn btn-primary" style="padding: 10px 20px; font-size: 1em;">Guardar cambios</button>
        </div>
    </form>

    <div class="back-link" style="text-align: center;">
        <a href="{% url 'propiedades' %}" class="btn" style="background-color: #6c757d; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Volver a la lista de propiedades</a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentImageIndex = 0;

        function changeImage(imageUrl, thumbnailElement) {
            var mainImage = document.getElementById('main-image');
            mainImage.src = imageUrl;

            var thumbnails = document.querySelectorAll('.thumbnail-image');
            thumbnails.forEach(function(thumb) {
                thumb.style.border = '2px solid transparent';
            });
            thumbnailElement.style.border = '2px solid #007bff';
        }

        function changeImageByArrow(direction) {
            var images = document.querySelectorAll('.thumbnail-image');
            if (!images.length) return; // Validación adicional por si no hay imágenes.

            if (direction === 'next') {
                currentImageIndex = (currentImageIndex + 1) % images.length;
            } else if (direction === 'prev') {
                currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
            }
            var newImage = images[currentImageIndex];
            changeImage(newImage.src, newImage);
        }

        // Autocompletado de direcciones
        document.getElementById('direccion-autocomplete').addEventListener('input', function() {
            const query = this.value.trim();
            const resultsContainer = document.getElementById('autocomplete-results');

            if (query.length < 3) {
                resultsContainer.style.display = 'none';
                return;
            }

            fetch(`https://photon.komoot.io/api/?q=${encodeURIComponent(query)}&limit=5&lang=default`)
                .then(response => response.json())
                .then(data => {
                    resultsContainer.innerHTML = '';
                    if (!data || !data.features || data.features.length === 0) {
                        resultsContainer.style.display = 'none';
                        return;
                    }

                    data.features.forEach((feature) => {
                        const item = document.createElement('li');
                        const direccion = feature.properties.name || '';
                        const ciudad = feature.properties.city || '';
                        const provincia = feature.properties.county || '';
                        const co_autonoma = feature.properties.region || '';
                        const pais = feature.properties.country || '';
                        const codigo_postal = feature.properties.postcode || '';

                        item.textContent = `${direccion}, ${ciudad}, ${provincia}, ${co_autonoma}, ${pais}`;
                        item.classList.add('list-group-item', 'list-group-item-action');
                        item.dataset.latitud = feature.geometry.coordinates[1];
                        item.dataset.longitud = feature.geometry.coordinates[0];
                        item.dataset.fullAddress = item.textContent;
                        item.dataset.codigoPostal = codigo_postal;

                        item.onclick = function() {
                            document.getElementById('direccion-autocomplete').value = this.dataset.fullAddress;
                            document.getElementById('latitud').value = this.dataset.latitud;
                            document.getElementById('longitud').value = this.dataset.longitud;
                            document.getElementById('codigo_postal').value = this.dataset.codigoPostal;

                            resultsContainer.style.display = 'none';
                        };

                        resultsContainer.appendChild(item);
                    });

                    resultsContainer.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error al obtener las sugerencias de Photon:', error);
                    resultsContainer.style.display = 'none';
                });
        });

        // Cierra los resultados de autocompletado cuando se hace clic fuera de ellos
        document.addEventListener('click', function(event) {
            const resultsContainer = document.getElementById('autocomplete-results');
            if (!resultsContainer.contains(event.target) && event.target.id !== 'direccion-autocomplete') {
                resultsContainer.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}