{% extends 'base.html' %}
{% load static %}

{% block title %}
Mis propiedades
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Propiedades</h2>
    <div class="row propiedades-container">
        {% for propiedad in propiedades %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'detalle_propiedad' propiedad.pk %}" class="propiedad-card text-center">
                    <div class="propiedad-image">
                        {% if propiedad.imagen_portada %}
                            <img src="{{ propiedad.imagen_portada.imagen.url }}" class="img-fluid" alt="Imagen de {{ propiedad.titulo }}">
                        {% else %}
                            <div class="no-imagen">
                                <p>No hay imagen de portada disponible.</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="propiedad-details">
                        <h3>{{ propiedad.titulo }}</h3>
                        <p><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
                        <p><strong>Precio:</strong> {{ propiedad.precio }} €</p>
                        <p><strong>Calificación:</strong> {{ propiedad.calificacion }}</p>
                    </div>
                </a>
            </div>
        {% empty %}
            <p class="text-center">No hay propiedades disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
