<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Desplegable Estilo Hamburguesa</title>
</html>
{% extends "base.html" %}
{% load static %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a la Páginaaaaaaa</h1>
    <p>Este es un ejemplo de un menú estilo hamburguesa que aparece al colocar el ratón sobre él, junto con una barra superior fija y un botón de iniciar sesión a la derecha.</p>
{% endblock %}
