{% extends "base.html" %}

{% block content %}
    <h2>Propiedades</h2>
    <ul>
        {% for property in object_list %}
            <li><strong>Propietario:</strong> {{ property.owner }}</li>
            <li><strong>Título:</strong> {{ property.title }}</li>
            <li><strong>Descripción:</strong> {{ property.description }}</li>
            <li><strong>Ubicación:</strong> {{ property.location }}</li>
            <li><strong>Fecha de Creación:</strong> {{ property.created_at }}</li>
        {% endfor %}
    </ul>
{% endblock %}
