{% extends "base.html" %}

{% block content %}
    <h2>Lista de Propiedades</h2>
    <div class="container">
        <div class="row">
            {% for propiedad in propiedades %}
                <div class="col-md-4">  <!-- Cada tarjeta ocupará 4 columnas -->
                    <div class="card mb-4">
                        <img src="{{ propiedad.imagen_portada }}" class="card-img-top" alt="{{ propiedad.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ propiedad.titulo }}</h5>
                            <p class="card-text">
                                <strong>Dueño:</strong> {{ propiedad.usuario }}<br>
                                <strong>Precio:</strong> {{ propiedad.precio }}<br>
                                <strong>Calificación:</strong> {{ propiedad.calificacion }}
                            </p>
                            <a href="{% url 'propiedad_detallada' propiedad.pk %}" class="btn btn-primary">Ver Detalles</a>  <!-- Enlace a la vista de detalle -->
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay propiedades disponibles.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
