{% extends "base.html" %}

{% block content %}
    <h2>Usuarios</h2>
    <ul>
        {% for user in object_list %}
            <li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
            <li><strong>Contraseña:</strong> {{ user.password }}</li>
            <li><strong>Correo electronico:</strong> {{ user.email }}</li>
            <li><strong>Tipo de usuario:</strong> {{ user.user_type }}</li>
            <li><strong>Fecha de Creación:</strong> {{ user.created_at }}</li>
            <li><strong>password:</strong> {{ user.password }}</li>
        {% endfor %}
    </ul>
{% endblock %}
